{{!< default}}

<div class="pt-6 max-w-4xl lg:mx-auto mx-6">
  {{> header }}
  <div class="mt-16 animation animation-fadeInUp animation-delay-2">
    <h3 class="text-4xl font-semibold bg-white inline -mx-2 box-decoration-break-clone px-2 pt-.2 pb-1">👋 Hi! I'm a 17-year-old maker who loves to build <i>&</i> learn in his free time.</h3>
  </div>
  <div id="article" class="mt-12 animation animation-fadeInUp animation-delay-4">
    <p>I'm currently dedicating most of my time to <a href="https://blogcast.host/?ref=website" target="_blank">Blogcast</a>, a service that uses state of the art text-&#65279;to-&#65279;speech technology to automate article narration.</p>
  
    <p>Before Blogcast, I built <a href="https://unmarkdocs.co/?ref=website" target="_blank">UnMarkDocs</a>, an app that generated beautiful documentation pages using a superpowered in-house markdown flavour. UnMarkDocs was my first paid app and an amazing learning experience on how it is to sell something in the real world.</p>

    <p>I've also started and worked on many other projects that unfortunately never saw the light of day, like <a class="border-b-2 border-sepia-900 hover:text-blue-500 hover:border-blue-500" href="https://snaptier.com/?ref=website" target="_blank">Snaptier</a> or Maker Army. You can see a complete list of all my current and past projects <a href="{{ @site.url }}/projects">here</a>.</p>

    <p>When I'm not focusing on specific projects, I <a href="https://ghuser.io/m1guelpf" target="_blank">contribute to open source</a> and mantain an <a href="https://coderyouth.club" target="_blank">online coding community for teenagers</a>. I also love to learn new things, and enjoy researching about philosophy, psychology and other subjects while studying the <a href="https://www.ibo.org/about-the-ib/" target="_blank">International Baccalaureate</a>.</p>

    <p>If you've reached this point, you probably want to <a href="{{@site.url}}/projects">learn more about my projects</a> or <a href="{{@site.url}}/articles">read my articles</a>. You can also <a href="{{twitter_url @blog.twitter}}" target="_blank">follow me on Twitter</a>, where I actively share what I'm working on, or <a href="{{ @site.url }}/newsletter">subscribe to my newsletter</a> to get regular updates on my projects.</p>
  </div>
</div>
