{{!< default}}

<div class="pt-6 max-w-6xl lg:mx-auto mx-6">
  {{> header }}
  <div class="mt-16 animation animation-fadeInUp animation-delay-2">
    {{#is "page"}}
      <h3 class="inline-block rounded-lg m-0 text-sepia-900 bg-white text-4xl px-3 font-main" style="transform: rotate(-1deg);box-shadow: 0 0 4px var(--white);transition:color 1s ease-in, background 1s ease-in,box-shadow 1s ease-in;">Articles</h3>
      <p class="mt-4 article font-main">I like to write about things that have helped me and about things I think can help others. The ones with a bookmark icon next to them are my favourites.</p>
    {{else}}
      <h3 class="inline-block rounded-lg m-0 text-sepia-900 bg-white text-4xl px-3 font-main" style="transform: rotate(-1deg);box-shadow: 0 0 4px var(--white);transition:color 1s ease-in, background 1s ease-in,box-shadow 1s ease-in;">Ficción</h3>
    {{/is}}
  </div>
  <div class="mt-12 animation animation-fadeInUp animation-delay-4">
    {{#foreach posts}}
      <article class="{{post_class}} opacity-transition height-transition" data-article-listing {{#if featured}}data-featured{{else}}data-not-featured{{/if}}>
          <header class="post-header">
				<span class="text-sepia-300 uppercase font-main text-xs tracking-wide mb-1 inline-flex items-center">
					{{#if featured}}
						<svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20"><path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z"></path></svg>
					{{/if}}
					{{ date format="MMM \\'YY" }} &mdash; {{ reading_time }} <span data-comment-count data-comments-for="{{ url }}"></span>
				</span>
              <h2 class="flex items-center font-main leading-relaxed tracking-wide">
                <a href="{{url}}">{{title}}</a>
              </h2>
          </header>
      </article>
    {{/foreach}}
  </div>
</div>