{{!< default}}

    <div class="bg-white dark:bg-sepia-500">
        {{> header }}
    </div>
{{#post}}
    <div class="bg-white dark:bg-sepia-500 background-transition">
        <header class="max-w-4xl md:max-w-full mx-6 md:mx-0 relative z-20 flex items-center justify-around flex-col-reverse md:bg-white md:dark:bg-sepia-500 md:flex-row md:rounded-br-huge background-transition">
            {{#if feature_image}}
                <div id="blobbed" class="my-4">
                    <img srcset="{{img_url feature_image size="s"}} 300w, {{img_url feature_image size="m"}} 600w, {{img_url feature_image size="l"}} 1000w, {{img_url feature_image size="xl"}} 2000w" src="{{img_url feature_image size="m"}}" sizes="(max-width: 1000px) 400px, 700px" class="rounded flex shadow max-h-sm" loading="lazy" alt="{{ title }}">
                </div>
            {{/if}}
            <div class="{{#if feature_image}}max-w-lg{{else}}max-w-4xl{{/if}} mx-auto md:mx-0 md:ml-2 lg:ml-0 flex flex-col justify-center z-20">
                <div class="hidden md:flex items-center justify-start">
                {{#primary_tag}}
                    <a href="{{url}}" title="{{name}}" class="py-1 px-4 shadow no-underline rounded-full font-sans font-semibold text-sm focus:outline-none focus:shadow-outline mr-2 hover:bg-gradient hover:text-white dark:border-2 dark:border-sepia-900 border-width-transition">{{name}}</a>
                {{/primary_tag}}
                </div>
                <h1 class="text-5xl font-semibold text-center md:text-left text-gradient pb-4 md:pb-0" style="transition: none;">{{ title }}</h1>
                {{#unless feature_image}}
                <div class="flex flex-col md:flex-row items-center justify-between max-w-2xl lg:max-w-3xl mb-4">
                {{/unless}}
                <p class="hidden md:block text-center md:text-left">published <time datetime="{{date format="YYYY-MM-DD"}}">{{date timeago="true"}}</time> by <a href="https://miguelpiedrafita.com" class="font-semibold hover:text-blue-500" target="_blank">{{authors separator=" | " autolink="false"}}</a></p>
                <div class="md:mt-4{{#unless feature_image}} md:mt-0{{/unless}} flex items-center justify-center md:justify-start">
                    <svg class="w-5 h-5 mr-1 fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.1907692,24 C4.5625628,24 0,19.4374372 0,13.8092308 C0,8.18102433 4.5625628,3.61846154 10.1907692,3.61846154 C15.8189757,3.61846154 20.3815385,8.18102433 20.3815385,13.8092308 C20.3815385,19.4374372 15.8189757,24 10.1907692,24 Z M10.1907692,22 C14.7144062,22 18.3815385,18.3328677 18.3815385,13.8092308 C18.3815385,9.28559383 14.7144062,5.61846154 10.1907692,5.61846154 C5.6671323,5.61846154 2,9.28559383 2,13.8092308 C2,18.3328677 5.6671323,22 10.1907692,22 Z"
                            id="Oval"></path>
                        <path
                            d="M7.53230769,2.32923077 C6.98002294,2.32923077 6.53230769,1.88151552 6.53230769,1.32923077 C6.53230769,0.776946019 6.98002294,0.329230769 7.53230769,0.329230769 L12.9225711,0.329230769 C13.4748559,0.329230769 13.9225711,0.776946019 13.9225711,1.32923077 C13.9225711,1.88151552 13.4748559,2.32923077 12.9225711,2.32923077 L7.53230769,2.32923077 Z"
                            id="Line-2"></path>
                        <path
                            d="M13.2928932,9.29289322 C13.6834175,8.90236893 14.3165825,8.90236893 14.7071068,9.29289322 C15.0976311,9.68341751 15.0976311,10.3165825 14.7071068,10.7071068 L10.897876,14.5163376 C10.5073517,14.9068618 9.87418674,14.9068618 9.48366245,14.5163376 C9.09313816,14.1258133 9.09313816,13.4926483 9.48366245,13.102124 L13.2928932,9.29289322 Z"
                            id="Line"></path>
                    </svg>
                    <p class="text-sm">{{ reading_time }}</p>
                </div>
                {{#unless feature_image}}
                </div>
                {{/unless}}
            </div>
        </header>
    </div>
    <div class="relative mb-8 bg-gradient" style="transition: none;">
        <div class="overflow-hidden md:-mt-48 pt-4 md:pt-header z-20 md:mx-8">
            <div class="flex flex-col-reverse md:flex-row items-center justify-between p-2 mb-4 mx-4 md:mx-0">
                <div style="display:none;" class="flex items-center justify-center text-white text-transition font-semibold" data-blogcast-player>
                    <svg id="playAudioBtn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-10 h-10 md:w-5 md:h-5 mr-2 cursor-pointer"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
                    <svg id="pauseAudioBtn" style="display:none;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5 mr-2 cursor-pointer"><circle cx="12" cy="12" r="10"></circle><line x1="10" y1="15" x2="10" y2="9"></line><line x1="14" y1="15" x2="14" y2="9"></line></svg>
                    <p>Listen to this article, proudly powered by <a class="border-b-2 border-white hover:text-sepia-300 hover:border-sepia-300" href="https://blogcast.host/?ref=website" target="_blank">Blogcast</a>.</p>
                    <audio id="blogcastPlayer" src="https://blogcast.host/embed.mp3?url={{url absolute="true"}}"></audio>
                </div>
                <div class="text-white text-transition font-semibold" data-blogcast-error>
                    <p class="text-center md:text-left">Generate audio versions of your articles with <a class="border-b-2 border-white hover:text-sepia-300 hover:border-sepia-300" href="https://blogcast.host/?ref=website" target="_blank">Blogcast</a>.</p>
                </div>
                <div class="flex items-center justify-center text-sm text-white text-transition mb-4 md:mb-0">
                        <a class="hover:text-sepia-300 font-semibold" rel="nofollow noopener noreferrer" href="http://twitter.com/share?text={{encode title}}&url={{url absolute='true'}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" target="_blank" title="Click to share on Twitter">Share on Twitter &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <article id="article" class="max-w-3xl lg:mx-auto mx-6 animation animation-fadeInUp animation-delay-4">
        {{content}}
    </article>
    <div class="mt-10 shadow-md bg-white px-4 py-4 border-sepia-300 rounded-lg max-w-3xl lg:mx-auto mx-6 text-center flex flex-col items-center">
        <div class="flex items-center justify-between w-full">
            <p>Got something to add? Continue the conversation on Twitter</p>
            <a class="twitter-btn" href="https://twitter.com/intent/tweet/?text={{ encode title }}&url={{ url absolute="true" }}&via=m1guelpf" target="_blank" rel="noopener" aria-label="Share on Twitter">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z" />
                </svg>
                <span>Tweet to {{ @site.twitter }}</span>
            </a>
        </div>
        <div class="border-b-2 border-sepia-500 w-full my-4"></div>
        <div class="flex items-center justify-between w-full">
            <p>Receive project updates, article drafts &amp; thoughts on your inbox every saturday.</p>
            <a href="{{ @site.url }}/newsletter" class="rounded-full bg-gradient text-white py-2 px-6 font-semibold focus:outline-none focus:shadow-outline hover:shadow-md" style="transition: color 1s ease-in;" data-ignore-link-styling>Subscribe <span class="ml-1">&rarr;</span></a>
        </div>
    </div>
{{/post}}
