{{!< default}}

{{#post}}
    <div class="bg-white dark:bg-sepia-500">
        <div class="pt-6 max-w-4xl lg:mx-auto mx-6">
            <nav class="flex items-center justify-between pb-6">
                <div class="flex-1 uppercase text-sm font-medium tracking-px text-center md:text-left">
                    <p>Miguel Piedrafita &mdash; 17-&#65279;year-&#65279;old&nbsp;<span
                            class="inline md:hidden">indie&nbsp;</span>maker</p>
                </div>
                <div class="hidden md:block">
                    {{{ navigation }}}
                </div>
            </nav>
        </div>
    </div>
    <div class="bg-white dark:bg-sepia-500 md:bg-transparent background-transition">
        <header class="max-w-4xl md:max-w-full mx-6 md:mx-0 relative z-20 flex items-center justify-around flex-col-reverse md:bg-white md:dark:bg-sepia-500 md:flex-row md:rounded-br-huge background-transition">
            <div id="blobbed" class="my-4 max-w-sm">
                <img src="{{ img_url feature_image }}" class="rounded flex shadow" alt="{{ title }}">
            </div>
            <div class="max-w-lg mx-auto md:mx-0 flex flex-col justify-center z-20">
                <div class="flex items-center">
                {{#primary_tag}}
                    <a href="{{url}}" title="{{name}}" class="py-1 px-4 shadow no-underline rounded-full font-sans font-semibold text-sm focus:outline-none focus:shadow-outline mr-2 hover:shadow-md dark:border-2 dark:border-sepia-900 border-width-transition">{{name}}</a>
                {{/primary_tag}}
                </div>
                <h1 class="text-5xl font-semibold text-center md:text-left" style="transition: none;">{{ title }}</h1>
                <p class="">published <time datetime="{{date format="YYYY-MM-DD"}}">{{date timeago="true"}}</time> by <a href="https://miguelpiedrafita.com" class="font-semibold hover:text-blue-500" target="_blank">{{authors separator=" | " autolink="false"}}</a></p>
                <div class="mt-4 flex items-center">
                    <svg class="w-5 h-5 mr-1 fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.1907692,24 C4.5625628,24 0,19.4374372 0,13.8092308 C0,8.18102433 4.5625628,3.61846154 10.1907692,3.61846154 C15.8189757,3.61846154 20.3815385,8.18102433 20.3815385,13.8092308 C20.3815385,19.4374372 15.8189757,24 10.1907692,24 Z M10.1907692,22 C14.7144062,22 18.3815385,18.3328677 18.3815385,13.8092308 C18.3815385,9.28559383 14.7144062,5.61846154 10.1907692,5.61846154 C5.6671323,5.61846154 2,9.28559383 2,13.8092308 C2,18.3328677 5.6671323,22 10.1907692,22 Z"
                            id="Oval"></path>
                        <path
                            d="M7.53230769,2.32923077 C6.98002294,2.32923077 6.53230769,1.88151552 6.53230769,1.32923077 C6.53230769,0.776946019 6.98002294,0.329230769 7.53230769,0.329230769 L12.9225711,0.329230769 C13.4748559,0.329230769 13.9225711,0.776946019 13.9225711,1.32923077 C13.9225711,1.88151552 13.4748559,2.32923077 12.9225711,2.32923077 L7.53230769,2.32923077 Z"
                            id="Line-2"></path>
                        <path
                            d="M13.2928932,9.29289322 C13.6834175,8.90236893 14.3165825,8.90236893 14.7071068,9.29289322 C15.0976311,9.68341751 15.0976311,10.3165825 14.7071068,10.7071068 L10.897876,14.5163376 C10.5073517,14.9068618 9.87418674,14.9068618 9.48366245,14.5163376 C9.09313816,14.1258133 9.09313816,13.4926483 9.48366245,13.102124 L13.2928932,9.29289322 Z"
                            id="Line"></path>
                    </svg>
                    <p class="text-sm">{{ reading_time }}</p>
                </div>
            </div>
        </header>
    </div>
    <div class="relative mb-8" style="transition: none;background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));">
        <div class="overflow-hidden md:-mt-48 pt-4 md:pt-header z-20 mx-8">
            <div class="flex flex-col md:flex-row items-center justify-between p-2 mb-4">
                <div class="flex items-center justify-start text-white text-transition font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5 mr-2 cursor-pointer"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
                    <p>Listen to this article, proudly powered by <a class="border-b-2 border-white hover:text-sepia-300 hover:border-sepia-300" href="https://blogcast.host/?ref=website" target="_blank">Blogcast</a>.</p>
                </div>
                <div class="flex items-center justify-center text-sm text-white text-transition">
                        <h3 class="font-medium">Share this:</h3>
                        <ul class="ml-4 flex items-center rounded-lg">
                            <li class="border rounded-l px-1 border-white hover:text-sepia-300">
                                <a rel="nofollow noopener noreferrer" href="#" target="_blank" title="Click to share on Twitter">
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li class="border-t border-b border-r rounded-r px-1 border-white hover:text-sepia-300">
                                <a rel="nofollow noopener noreferrer" href="#" target="_blank" title="Click to share on Facebook">
                                    <span>Facebook</span>
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-4xl lg:mx-auto mx-6">
        <article>
            <div id="article" class="animation animation-fadeInUp animation-delay-4">
                {{!-- <p class="font-medium text-xl my-4">I'm currently dedicating most of my time to <a class="border-b-2 border-sepia-900 hover:text-blue-500 hover:border-blue-500" href="https://blogcast.host/?ref=website" target="_blank">Blogcast</a>, a service that uses state of the art text-to-speech technology to automate article narration.</p> --}}
            
                {{content}}
            </div>
        </article>
    </div>
{{/post}}
